version: '3.8'

services:
  easycopy-server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "8000:8000"
    restart: unless-stopped
    environment:
      - TZ=UTC
    container_name: easycopy-server
